<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS 340 Group 114</title>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <nav>
        <img src="RTI_Logo.png" alt="RTI_Logo" class="logo">
        <a href="index.html">Home</a>
        <a href="http://flip2.engr.oregonstate.edu:2427/Customers" id="selected-page">Customers</a>
        <a href="http://flip2.engr.oregonstate.edu:2427/FFLS">FFLS</a>
        <a href="firearms.html">Firearms</a>
        <a href="transactions.html">Transactions</a>
        <a href="transactionsandfirearms.html">Transactions and Firearms</a>
    </nav>

    <div class ="insert-customer">
    <button onclick="toggleInsert()" class="insert-customer-button">Insert a new Customer</button>
        <div class="modal-container-insert">
         <form id="customer-insert-form" method="POST" class="forms" action="/add-customer-form">
            <label for="cname">Customer Name:</label>
            <input type="text" id="cname" required name="cname"><br><br>
            <label for="contact">Contact Information:</label>
            <input type="text" id="contact" required name="contact"><br><br>
            <input type="submit">
         </form>
         <button onclick="closeModal('.modal-container-insert')">Close</button>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                {{#each title.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr id="customerRow_{{this.customerID}}">
                <td>{{this.customerID}}</td>
                <td class="cname">{{this.customerName}}</td>
                <td class="contact">{{this.customerContact}}</td>
                <td>
                    <div id="update-delete-buttons">
                        <button onclick="toggleForm('{{this.customerID}}')" class="update-buttons">Update Customer</button>
                         <form id="deleteCustomerForm" action="/deleteCustomer/{{customerID}}" method="POST">
                            <button type="submit" class="delete-buttons">Delete Customer</button>
                        </form>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="modal-container">
        <form action="/updateCustomer/{{customerID}}" class="update-form" method="POST">
            <label for="cname">Customer Name:</label>
            <input type="text" id="cname" required name="cname"><br><br>
            <label for="contact">Contact Information:</label>
            <input type="text" id="contact" required name="contact"><br><br>
            <input type="submit">
            <button onclick="closeModal(".modal-container")">Close</button>
        </form>
    </div>

    <footer>
        <p>© 2024 Luke Ellister & Leo Yudelson</p>
    </footer>

    <script>
        function toggleForm(customerID) {
            var modalContainer = document.querySelector('.modal-container');
            var modalForm = modalContainer.querySelector('.update-form');
            var customerNameInput = modalForm.querySelector('#cname');
            var contactInput = modalForm.querySelector('#contact');

            modalContainer.style.display = "block";

            var customerRow = document.querySelector('#customerRow_' + customerID);
            var customerName = customerRow.querySelector('.cname').innerText;
            var customerContact = customerRow.querySelector('.contact').innerText;
            customerNameInput.value = customerName;
            contactInput.value = customerContact;

            modalForm.action = "/updateCustomer/" + customerID;
        }

        window.addEventListener('DOMContentLoaded', function() {
            var updateForms = document.getElementsByClassName('update-button');
            Array.from(updateForms).forEach(function(form) {
                form.style.display = "none";
            });
        });

        function closeModal(modal)
        {
            var modalContainer = document.querySelector(modal);
             modalContainer.style.display = "none";
        }

        function toggleInsert()
        {
            var modalContainer = document.querySelector('.modal-container-insert')
            modalContainer.style.display = "block";
        }
    </script>
</body>
</html>

