<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS 340 Group 114</title>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <nav>
        <img src="RTI_Logo.png" alt="RTI_Logo" class="logo">
        <a href="index.html">Home</a>
        <a href="http://flip2.engr.oregonstate.edu:2427/Customers" >Customers</a>
        <a href="http://flip2.engr.oregonstate.edu:2427/FFLS" id="selected-page">FFLS</a>
        <a href="firearms.html">Firearms</a>
        <a href="transactions.html">Transactions</a>
        <a href="transactionsandfirearms.html">Transactions and Firearms</a>
    </nav>

    
    <div class ="insertffl">
    <button onclick="toggleInsert()" class="insert-button">Insert a new FFL</button>
    <div class="modal-container-insert">
        <form id="ffl-insert-form" method="POST" class="forms" action="/add-ffls-form">
            <label for="fname">FFL Name:</label>
            <input type="text" id="fname" required name="fname"><br><br>
            <label for="contact">Contact Information:</label>
            <input type="text" id="contact" required name="contact"><br><br>
            <input type="submit">
             <button type="button" onclick="closeModal('.modal-container-insert')">Close</button>
        </form>     
    </div>
</div>


    <table>
        <thead>
            <tr>
                {{#each title.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
           {{#each data}}
          <tr id="fflRow_{{this.fflicenseID}}">
                <td>{{this.fflicenseID}}</td>
                <td class="fname">{{this.fflName}}</td>
                <td class="contact">{{this.fflContact}}</td>
                <td>
                    <div id="update-delete-buttons">
                        <button onclick="toggleForm('{{this.fflicenseID}}')" class="update-buttons">Update FFL</button>
                         <form id="deleteFFLForm" action="/deleteFFL/{{fflicenseID}}" method="POST">
                            <button type="submit" class="delete-buttons">Delete FFL</button>
                        </form>
                    </div>
                </td>
            </tr>
           {{/each}}
        </tbody>
    </table>

        <div class="modal-container">
        <form action="/updateFFL/{{this.fflicenseID}}" class="update-form" method="POST">
            <label for="fname">FFL Name:</label>
            <input type="text" id="fname" required name="fname"><br><br>
            <label for="contact">Contact Information:</label>
            <input type="text" id="contact" required name="contact"><br><br>
            <input type="submit">
            <button onclick="closeModal('.modal-container')">Close</button>
        </form>
    </div>

    <footer>
        <p>© 2024 Luke Ellister & Leo Yudelson</p>
    </footer>

    <script>
        window.addEventListener('DOMContentLoaded', function() {
            var updateForms = document.getElementsByClassName('update-button');
            Array.from(updateForms).forEach(function(form) {
                form.style.display = "none";
            });
        });


         function toggleForm(fflId) {
            var modalContainer = document.querySelector('.modal-container');
            var modalForm = modalContainer.querySelector('.update-form');
            var fflNameInput = modalForm.querySelector('#fname');
            var contactInput = modalForm.querySelector('#contact');

            modalContainer.style.display = "block";

            var fflRow = document.querySelector('#fflRow_' + fflId);
            var fflName = fflRow.querySelector('.fname').innerText;
            var fflContact = fflRow.querySelector('.contact').innerText;
            fflNameInput.value = fflName;
            contactInput.value = fflContact;

            modalForm.action = "/updateFFL/" + fflId;
        }

         function closeModal(modal)
        {
            var modalContainer = document.querySelector(modal);
             modalContainer.style.display = "none";
        }
        function toggleInsert()
        {
            var modalContainer = document.querySelector('.modal-container-insert')
            modalContainer.style.display = "block";
        }
    </script>

</body>
</html>
