<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS 340 Group 114</title>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <nav>
        <img src="RTI_Logo.png" alt="RTI_Logo" class="logo">
        <a href="index.html">Home</a>
       <a href="http://flip1.engr.oregonstate.edu:2427/Customers">Customers</a>
        <a href="http://flip1.engr.oregonstate.edu:2427/FFLS" >FFLS</a>
        <a href="http://flip1.engr.oregonstate.edu:2427/Firearms" id="selected-page">Firearms</a>
        <a href="transactions.html">Transactions</a>
        <a href="transactionsandfirearms.html">Transactions and Firearms</a>
    </nav>

    <div class ="insert-firearm">
    <button onclick="toggleInsert()" class="insert-button">Insert a new Firearm</button>
        <div class="modal-container-insert">
         <form id="firearm-insert-form" method="POST" class="insert-forms" action="/add-firearm-form">
            <label for="price">Price:</label>
            <input type="number" id="price" required name="price" step="0.01"><br><br>
            <label for="model">Model:</label>
            <input type="text" id="model" required name="model"><br><br>
            <label for="inventory">Inventory Count:</label>
            <input type="number" id="inventory" required name="inventory"><br><br>
            <label for="country">Country Of Origin:</label>
            <input type="text" id="country" required name="country"><br><br>
            <label for="caliber">Caliber:</label>
            <input type="text" id="caliber" required name="caliber"><br><br>
            <label for="historicDetail">Historic Detail:</label>
            <input type="text" id="historicDetail" name="historicDetail"><br><br>
            <input type="submit">
            <button onclick="closeModal('.modal-container-insert')">Close</button>
         </form>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                {{#each title.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr id="firearmRow_{{this.firearmID}}">
                <td>{{this.firearmID}}</td>
                <td class="price">{{this.price}}</td>
                <td class="model">{{this.model}}</td>
                <td class="inventory">{{this.inventoryStock}}</td>
                <td class="country-of-origin">{{this.countryOfOrigin}}</td>
                <td class="caliber">{{this.caliber}}</td>
                <td class="history">{{this.historicDetail}}</td>
                <td>
                    <div id="update-delete-buttons">
                        <button onclick="toggleForm('{{this.firearmID}}')" class="update-buttons">Update Firearm</button>
                         <form id="deleteFirearmForm" action="/deleteFirearm/{{this.firearmID}}" method="POST">
                            <button type="submit" class="delete-buttons">Delete Firearm</button>
                        </form>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="modal-container">
        <form action="/updateFirearm/{{this.firearmID}}" class="update-form" method="POST">
            <label for="price">Price:</label>
            <input type="number" id="price" required name="price" step="0.01"><br><br>
            <label for="model">Model:</label>
            <input type="text" id="model" required name="model"><br><br>
            <label for="inventory">Inventory Count:</label>
            <input type="number" id="inventory" required name="inventory"><br><br>
            <label for="country">Country Of Origin:</label>
            <input type="text" id="country" required name="country"><br><br>
            <label for="caliber">Caliber:</label>
            <input type="text" id="caliber" required name="caliber"><br><br>
            <label for="historicDetail">Historic Detail:</label>
            <input type="text" id="historicDetail" name="historicDetail"><br><br>
            <input type="submit">
            <button type="button" onclick="closeModal('.modal-container')">Close</button>
        </form>
    </div>

    <footer>
        <p>© 2024 Luke Ellister & Leo Yudelson</p>
    </footer>

    <script>
     function toggleForm(firearmID) {
    var modalContainer = document.querySelector('.modal-container');
    var modalForm = modalContainer.querySelector('.update-form');
    var priceInput = modalForm.querySelector('#price');
    var modelInput = modalForm.querySelector('#model');
    var inventoryInput = modalForm.querySelector('#inventory');
    var countryInput = modalForm.querySelector('#country');
    var caliberInput = modalForm.querySelector('#caliber');
    var historicDetailInput = modalForm.querySelector('#historicDetail');

    modalContainer.style.display = "block";

    var firearmRow = document.querySelector('#firearmRow_' + firearmID);
    var price = firearmRow.querySelector('.price').innerText;
    priceInput.value = price;

    var model = firearmRow.querySelector('.model').innerText;
    modelInput.value = model;

    var inventory = firearmRow.querySelector('.inventory').innerText;
    inventoryInput.value = inventory;

    var country = firearmRow.querySelector('.country-of-origin').innerText;
    countryInput.value = country;

    var caliber = firearmRow.querySelector('.caliber').innerText;
    caliberInput.value = caliber;

    var historicDetail = firearmRow.querySelector('.history').innerText;
    historicDetailInput.value = historicDetail;

    modalForm.action = "/updateFirearm/" + firearmID;
}



{{!-- 
        window.addEventListener('DOMContentLoaded', function() {
            var updateForms = document.getElementsByClassName('update-button');
            Array.from(updateForms).forEach(function(form) {
                form.style.display = "none";
            });
        }); --}}

        function closeModal(modal)
        {
            var modalContainer = document.querySelector(modal);
             modalContainer.style.display = "none";
        }

        function toggleInsert()
        {
            var modalContainer = document.querySelector('.modal-container-insert')
            modalContainer.style.display = "block";
        }
    </script>
</body>
</html>
