<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS 340 Group 114</title>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <nav>
        <img src="RTI_Logo.png" alt="RTI_Logo" class="logo">
        <a href="index.html">Home</a>
        <a href="http://flip1.engr.oregonstate.edu:2427/Customers">Customers</a>
        <a href="http://flip1.engr.oregonstate.edu:2427/FFLS">FFLS</a>
        <a href="http://flip1.engr.oregonstate.edu:2427/Firearms">Firearms</a>
        <a href="transactions.html">Transactions</a>
        <a href="transactionsandfirearms.html" id="selected-page">Transactions and Firearms</a>
    </nav>



    
    <div class="inserttransactionandfirearm">
        <button onclick="toggleInsert()" class="insert-button">Insert a new Transaction and Firearm</button>
        <div class="modal-container-insert">
            <form id="ffl-insert-form" method="POST" class="forms" action="/add-transaction-and-firearm-form">
               <label for="transaction-IDs">Transaction ID:</label>
                <select id="transaction-IDs" name="transaction-IDs">
                {{#each transactions}}
                <option value="{{this.transactionID}}">{{this.transactionID}}</option>
                {{/each}}
                </select>
                </select><br><br>
                <label for="firearm-name">Firearm Model:</label>
                <select id="firearm-name" name="firearm-name">
                    {{#each firearms}}
                    <option value="{{@key}}">{{model}}</option>
                    {{/each}}
                </select><br><br>
                <label for="unit-price">Unit Price:</label>
                <input type="number" id="unit-price" required name="unit-price" step="0.01"><br><br>
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" required name="quantity"><br><br>
                <input type="submit">
                <button type="button" onclick="closeModal('.modal-container-insert')">Close</button>
            </form>     
        </div>
    </div>
    

    <table>
        <thead>
            <tr>
                {{#each title.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr id="transactionandfirearmRow_{{this.TransactionsAndFirearmsID}}">
                <td>{{this.TransactionsAndFirearmsID}}</td>
                <td class="transactionID">{{this.TransactionID}}</td>
                <td class="Firearm">{{this.FirearmModel}}</td>
                <td class="Unit-Price">{{this.UnitPrice}}</td>
                <td class="Order Quantity">{{this.Quantity}}</td>
                <td class="Line-Total">{{this.LineTotal}}</td>
                <td>
                    <div id="update-delete-buttons">
                        <button onclick="toggleForm('{{this.TransactionsAndFirearmsID}}')" class="update-buttons">Update Transaction</button>
                        <form id="deleteTransactionForm" action="/deleteFirearmAndTransaction/{{this.TransactionsAndFirearmsID}}" method="POST">
                            <button type="submit" class="delete-buttons">Delete Transaction</button>
                        </form>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="modal-container">
    <form action="/updateTransactionAndFirearm/{{this.TransactionsAndFirearmsID}}" class="update-form" method="POST">
        <label for="transaction-IDs">Transaction ID:</label>
                <select id="transaction-IDs" name="transaction-IDs">
                {{#each transactions}}
                <option value="{{this.transactionID}}">{{this.transactionID}}</option>
                {{/each}}
                </select>
                </select><br><br>
                <label for="firearm-name">Firearm Model:</label>
                <select id="firearm-name" name="firearm-name">
                    {{#each firearms}}
                    <option value="{{@key}}">{{model}}</option>
                    {{/each}}
                </select><br><br>
                <label for="unit-price">Unit Price:</label>
                <input type="number" id="unit-price" required name="unit-price" step="0.01"><br><br>
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" required name="quantity"><br><br>
                <input type="submit">
                <button type="button" onclick="closeModal('.modal-container')">Close</button>
    </form>
</div>

    <footer>
        <p>© 2024 Luke Ellister & Leo Yudelson</p>
    </footer>

    <script>
        window.addEventListener('DOMContentLoaded', function() {
            var updateForms = document.getElementsByClassName('update-button');
            Array.from(updateForms).forEach(function(form) {
                form.style.display = "none";
            });
        });
function toggleForm(transactionAndFirearmsID) {
    var modalContainer = document.querySelector('.modal-container');
    var modalForm = modalContainer.querySelector('.update-form');
    var transactionIDSelect = modalForm.querySelector('#transaction-IDs');
    var firearmNameSelect = modalForm.querySelector('#firearm-name');
    var unitPriceInput = modalForm.querySelector('#unit-price');
    var quantityInput = modalForm.querySelector('#quantity');

    modalContainer.style.display = "block";

    var transactionRow = document.querySelector('#transactionandfirearmRow_' + transactionAndFirearmsID);
    var transactionID = transactionRow.querySelector('.transactionID').innerText;
    var firearmName = transactionRow.querySelector('.Firearm').innerText;
    var unitPrice = transactionRow.querySelector('.Unit-Price').innerText;
    var quantity = transactionRow.querySelector('.Order.Quantity').innerText;

    
    Array.from(transactionIDSelect.options).forEach(function(option) {
        if (option.value === transactionID) {
            option.selected = true;
        }
    });


    Array.from(firearmNameSelect.options).forEach(function(option) {
        if (option.innerText === firearmName) {
            option.selected = true;
        }
    });

    unitPriceInput.value = unitPrice;
    quantityInput.value = quantity;

   
    modalForm.action = "/updateTransactionAndFirearm/" + transactionAndFirearmsID;
}



        function closeModal(modal) {
            var modalContainer = document.querySelector(modal);
            modalContainer.style.display = "none";
        }

        function toggleInsert() {
            var modalContainer = document.querySelector('.modal-container-insert');
            modalContainer.style.display = "block";
        }
    </script>
</body>
</html>
